.icon {
  display: inline-block;
}
.icon-notice {
  background: url('../assets/img/icon_notice.png') no-repeat center;
  background-size: 100%;
}
.icon-good {
  background: url('../assets/img/icon_good.png') no-repeat center;
  background-size: 100% 100%;
}
.icon-comment {
  background: url('../assets/img/icon_comment.png') no-repeat center;
  background-size: 100% 100%;
}