/* 主体 */
.container {
  width: 960px;
  margin: 0 auto;
}
.main-container {
  display: flex;
}

/* 顶部 */
.top-nav {
  position: fixed;
  left: 0;
  top: 59px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  font-size: 15px;
  background: #fff;
}
.top-nav-list {
  display: flex;
  width: 960px;
  margin: auto;
  position: relative;
}
.top-nav-list-item a {
  height: 100%;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  color: #71777c;
  padding-right: 12px;
}
.active a {
  color: #007fff;
}
.top-nav-list-right {
  position: absolute;
  top: 0;
  right: 0;
}

/* 主内容 */
.main-container {
  margin-top: 120px;
}

/* 左侧 */
.left-list {
  width: 650px;
  padding: 0 12px;
  background: #fff;
}
.left-list-top {
  display: flex;
  justify-content: space-between;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}
.left-list-top-left {
  display: flex;
}
.left-list-top-left li {
  margin-left: 10px;
}
.left-list-top-left span {
  color: #ccc;
  margin-left: 10px;
}
.left-list-top-right {
  display: flex;
}
li a {
  color: #5f6468;
}
.left-list-item {
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  border-bottom: 1px solid rgba(178,186,194,.15)
}
.left-list-item-tag {
  font-size: 14px;
}
.hot {
  color: red;
}
.special {
  color: #b71ed7;
}
.left-list-item-title {
  font-size: 16px;
  margin-top: 5px;
}
.left-list-item-interactive {
  margin-top: 5px;
  font-size: 14px;
}
.left-list-item-interactive span {
  display: inline-block;
  width: 56px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  color: #b2bac2;
  border-radius: 1px;
  border: 1px solid #edeeef;
}

/* 右侧 */
.right-recommend {
  width: 295px;
  margin-left: 15px;
  background: #fff;
}
.right-recommend-ad {
  width: 100%;
  height: 295px;
  line-height: 295px;
  text-align: center;
  background: #ccc;
  color: #fff;
}
.right-recommend-author {
  margin-top: 10px;
  font-size: 15px;
}
.right-recommend-author-top {
  padding: 10px 13px;
  border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}
.right-recommend-author-container {
  padding: 0 20px;
}
.right-recommend-author-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #909090;
  height: 80px;
}
.right-recommend-author-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.right-recommend-author-detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.right-recommend-author-title {
  font-size: 16px;
  color: #333;
}