.todo {
  width: 1000px;
  margin: 20px auto 0;
  padding-top: 30px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.todo-title {
  text-align: center;
}
.todo-input {
  width: 200px;
}
.todo-submit {
  margin-left: 10px;
}