/* 顶部 */
.top-nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 46px;
  line-height: 46px;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  font-size: 14px;
  background: #fff;
}
.top-nav-list {
  display: flex;
  width: 960px;
  margin: auto;
  position: relative;
}
.top-nav-list-item a {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #71777c;
  padding-right: 24px;
}
.top-nav-list-item .active {
  color: #007fff;
}
.top-nav-list-right {
  position: absolute;
  top: 0;
  right: 0;
}
.top-nav-list-right a {
  padding-right: 0;
}


/* 内容 */
.timeline-container {
  display: flex;
  margin-top: 120px;
}

/* 左侧列表 */
section {
  width: 700px;
  height: 3000px;
  background: #fff;
}

/* 右侧侧边栏 */
aside {
  width: 240px;
  margin-left: 20px;
  height: 3000px;
  background: #fff;
}